fieldset {
  border: ridge #708090;
  border-radius: 2em;
  padding-bottom: 10px;
  padding-right: 10px;
  width: auto;
}

legend {
  color: #708090;
}

body {
  color: #708090;
}

button:hover {
  background-color: #069;
  color: white;
  font-weight: light;
}
