fieldset {
  border: ridge #708090;
  border-radius: 2em;
  padding-bottom: 10px;
  padding-right: 10px;
  width: auto;
}

legend {
  color: #708090;
}

body {
  color: #708090;
}

button:hover {
  background-color: #069;
  color: white;
  font-weight: light;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  min-width: 900px;
  width: 3%;
}

#center {
  text-align: center;
}

#textFields {
  text-align: center;
}

.flex {
  display: flex;
}
